@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;
@use "partials/reset.scss" as *;


// appmovie e tv{
  body{
  background-color: black;
  height: 100vh;
  background-image: url("");
}

  .maincontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card{
    border: 1px solid blue;
    margin: 20px;
    margin-bottom: 20px;

    color: white;
    // width: 300px;
    // height: 300px;
  }

  // .infomain{
  //   border: 1px solid green;

  // }
