@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;
@use "partials/reset.scss" as *;


// appmovie e tv

.bgmain{
    background-color: rgb(26, 26, 26);
    padding: 20px;
    color: white;
  }

  .maincontent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card{
    border: 1px solid blue;
    margin-bottom: 20px;
  }
  .infomain{
    border: 1px solid red;
  }
